@font-face {
  font-family: "Mulish";
  font-style: normal;
  font-display: auto;
  unicode-range: U+000-5FF;
  src: local("Mulish"), url("/fonts/Mulish-VariableFont_wght.woff2") format("woff2");
}

@font-face {
  font-family: "Mulish";
  font-style: italic;
  font-display: auto;
  unicode-range: U+000-5FF;
  src: local("Mulish"), url("/fonts/Mulish-Italic-VariableFont_wght.woff2") format("woff2");
}