#the-header {
  box-shadow: var(--shadow-head);
  padding: $paddingBig;
  display: flex;
  align-items: center;
  gap: $paddingMed;
  position: relative;
  z-index: 1;

  > .nimiq-icon {
    cursor: pointer;
    padding: 0;

    .svg {
      min-width: 28px;
      width: 28px;
    }

    @include focusKeyAndHover() {
      & + .info-window {
        opacity: 1;
        visibility: visible;
      }
    }
  }

  button.resize{
    display: none;

    @include media('small') {
      display: inline-block;
    }
  }

  .info-window {
    top: calc(100% - $paddingMed);
    left: $paddingMed;

    .hover-helper {
      bottom: unset;
      top: -20px;
    }

    &:before {
      bottom: unset;
      left: $paddingSmall;
      top: -24px;
      left: 22px;
      transform: translate(-50%, 100%) rotate(180deg);
    }
  }
}