$small: 768px;
$med: 1024px;
$big: 1360px;

$fontSmall: 12px;
$fontPinTitle: 14px;

$paddingContent: 30px;
$paddingSmall: 8px;
$paddingMed: 16px;
$paddingBig: 24px;
$paddingHuge: 48px;
$paddingWide: 72px;
$paddingSection: 88px;
$paddingCard: 10px;

$borderRadiusSmall: 4px;
$borderRadiusBig: 8px;

$transition: .13s;
$transitionLong: .33s;

$shadowObject: 0px 4px 12px rgba(0, 0, 0, 0.12);
$shadowObjectHover: 0px 10px 20px rgba(0, 0, 0, 0.12);

$shadowMapButton: 0px 18px 38px rgba(31, 35, 72, 0.07), 0px 7px 8.5px rgba(31, 35, 72, 0.04), 0px 2px 2.5px rgba(31, 35, 72, 0.02);

$fontFamily: "Mulish", sans-serif;

/* color palette from <https://github.com/vuejs/theme> */
:root {
  --line-height: 1.5;
  --line-height-h2: 1.5;
  --line-height-h1: 1.2;
  --font-size-small: 12px;
  --font-size-pinTitle: 14px;
  --font-size-body: 16px;
  --font-size-button: 18px;
  --font-size-subline: 20px;
  --font-size-h2: 32px;
  --font-size-h1: 40px;
  --font-size-input: 14px;
  --font-size-label: 14px;
  --font-size-buttonForm: 14px;
  --font-size-bodyForm: 15px;
  --font-size-largeForm: 17px;
  --font-size-h1Form: 22px;

  --padding-small: 4px;
  --padding-gutter: 16px;
  --padding-ui: 24px;
  --padding-menu: 32px;
  --padding-primary: 40px;
  --padding-section: 56px;
  --padding-h1: 64px;
  --padding-head: 120px;
  --padding-select-option: 6px 8px;
  --padding-tag-item: 7px 8px;
  --padding-input: 4.5px 12px;

  --border-input: 1.5px solid var(--color-blue-dark-gradient-in);
  --border-select: 1.5px solid var(--color-blue-dark-15);

  --border-radius-input: 3px;
  --border-radius-select: 4px;
  --border-radius-card: 8px;
  --border-radius-overlay: 10px;

  --input-height: 40px;
  --button-height: 36px;
  --button-padding: 6px 12px;

  --button-map-controls-width: 34px;

  --color-border: #3B4B68;
  --color-white: #ffffff;
  --color-white-10: #35395A;
  --color-blue-dark-100: #3B4C6A;
  --color-blue-dark-60: #797B91;
  --color-blue-dark-30: #BCBDC8;
  --color-blue-dark-15: #DDDEE4;
  --color-blue-dark-12: #E9E9ED;
  --color-blue-dark-07: #EFF0F2;
  --color-blue-dark-gradient-in: #1f2348;
  --color-blue-dark-gradient-out: #260133;

  --color-blue-dark-overlay: #1F23483C;

  --color-blue-light-on-dark: #0CA6FE;
  --color-red-on-dark: #FF5C48;

  --color-blue: #3E6EC1;
  --color-blue60: #69B4DF;
  --color-blue30: #B4DAEF;
  --color-blue15: #D9ECF7;
  --color-blue-gradient-in: #0582CA;
  --color-blue-gradient-out: #265DD7;

  --color-red: #D94432;
  --color-red60: #E88F84;
  --color-red30: #F4C7C2;
  --color-red15: #F9E3E0;
  --color-red-gradient-in: #D94432;
  --color-red-gradient-out: #CC3047;

  --color-orange: #FC8702;
  --color-orange60: #FDB767;
  --color-orange30: #FECF9A;
  --color-orange15: #FFEDD9;
  --color-orange-gradient-in: #FC8701;
  --color-orange-gradient-out: #FD6216;

  --color-yellow: #E9B213;
  --color-yellow60: #F2D171;
  --color-yellow30: #F8E8B8;
  --color-yellow15: #FCF3DC;
  --color-yellow-gradient-in: #E9B213;
  --color-yellow-gradient-out: #EC991C;

  --color-green: #13B59D;
  --color-green60: #71D2C4;
  --color-green30: #B8E9E1;
  --color-green15: #DCF4F0;
  --color-green-gradient-in: #21BCA5;
  --color-green-gradient-out: #41A38E;

  --color-bc: #F7931A;

  --shadow-card: 0px 43.0312px 90.8438px rgba(31, 35, 72, 0.07), 0px 16.7344px 20.3203px rgba(31, 35, 72, 0.04), 0px 4.78125px 5.97656px rgba(31, 35, 72, 0.02);
  --shadow-head:  0px 7px 8.5px rgba(31, 35, 72, 0.04), 0px 2px 2.5px rgba(31, 35, 72, 0.02);
  --shadow-pin: 0px 43.0312px 90.8438px rgba(31, 35, 72, 0.07), 0px 16.7344px 20.3203px rgba(31, 35, 72, 0.04), 0px 4.78125px 5.97656px rgba(31, 35, 72, 0.02);
  --shadow-app: 0px 18px 38px rgba(31, 35, 72, 0.07), 0px 7px 8.5px rgba(31, 35, 72, 0.04), 0px 2px 2.5px rgba(31, 35, 72, 0.02);
}

@media screen and (min-width: $small) {
  :root {
    --font-size-pinTitle: 15px;
    --font-size-body: 17px;
    --font-size-subline: 22px;
    --font-size-h2: 36px;
    --font-size-h1: 44px;
    --font-size-buttonForm: 16px;
    --font-size-bodyForm: 16px;
    --font-size-largeForm: 18px;
    --font-size-h1Form: 24px;

    --button-padding: 6px 16px;

    --button-height: 40px;
    --button-padding: 10px 20px;
  }
}

@media screen and (min-width: $med) {
  :root {
    --font-size-pinTitle: 16px;
    --font-size-body: 18px;
    --font-size-button: 20px;
    --font-size-subline: 24px;
    --font-size-h2: 40px;
    --font-size-h1: 48px;
  }
}
